<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.jihee.biz"/>
    <beans:bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">

        <beans:property name="dataSourceName" value="ds"/>

        <beans:property name="URL" value="jdbc:oracle:thin:@jhnam_high?TNS_ADMIN= /Users/namjh/WebJavaProject/Day8_EMP_MVC/src/main/resources/wallet_JHNAM"/>

        <beans:property name="user" value="admin"/>

        <beans:property name="password" value="#Namjihee878787"/>

    </beans:bean>
</beans>